@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neon effect */
.neon-text {
  color: #00bfff;
  text-shadow:
    0 0 5px #00bfff,
    0 0 10px #00bfff,
    0 0 20px #00bfff,
    0 0 40px #00bfff;
}

body {
  background-color: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
