@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neon effect */
.neon-text {
  color: #ffffff;
  text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ffffff;
}

body {
  background-color: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

